version: "3.9"

services:
  evolution_api:
    image: atendai/evolution-api:latest
    container_name: evolution_api
    restart: unless-stopped
    ports:
      - "8080:8080"
    env_file:
      - .env.evolution
