version: "3.9"

services:
  redis:
    image: redis:7-alpine
    container_name: evolution_redis
    restart: unless-stopped
    ports:
      - "6379:6379"

  postgres:
    image: postgres:15
    container_name: evolution_postgres
    restart: unless-stopped
    env_file:
      - .env.evolution
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres_data:/var/lib/postgresql/data

  evolution_api:
    # image: evoapicloud/evolution-api:latest
    # ou, se quiser travar versão estável:
    image: evoapicloud/evolution-api:v2.3.6
    container_name: evolution_api
    restart: unless-stopped
    env_file:
      - .env.evolution
    ports:
      - "${EVOLUTION_PORT:-8080}:8080"
    depends_on:
      - postgres
      - redis

volumes:
  postgres_data:
